/* wpDiscuz */
.comments-container__wpDiscuz {
  #comments{
    color: #0a335c;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    #wpdcom {
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      .wpd-prim-button{
        background-color: #dff4ff;
        border: 2px solid #00acff;
        border-radius: 10px;
        -webkit-box-shadow: 0 3px 0 #00acff;
        box-shadow: 0 3px 0 #00acff;
        color: #0a335c;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.4;
        padding: 8px 20px;
        position: relative;
        width: max-content;
        cursor: pointer;
        transition: all .14s ease-out;
        &:hover{
          box-shadow: 0 5px 0 #00acff;
          -webkit-transform: translateY(-3px);
          -ms-transform: translateY(-3px);
          transform: translateY(-3px);
        }
        &:active {
          -webkit-box-shadow: 0 2px 0 var(--color1);
          box-shadow: 0 2px 0 var(--color1);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
      }
      .wc-field-submit{
        .wpd_label{
          display: none;
        }
      }
      .wpdiscuz-textarea-wrap{
        .wpd-editor-buttons-right{
          display: none!important;
        }
      }
      .wpd-form{
        .wpd-field{
          background-color: rgba(0,0,0,.04);
          border-radius: 6px;
          color: #0a335c;
          font-size: .875rem;
          font-weight: 400;
          outline: none;
          padding: 0 12px;
          -webkit-transition: .24s;
          -o-transition: .24s;
          transition: .24s;
          border: none!important;
          box-shadow: none;
          &::placeholder{
            font-size: 0.875rem;
            line-height: 1.2em;
            color: #767676;
          }
          &:hover {
            background-color: rgba(0,0,0,.08);
          }
          &:focus {
            -webkit-box-shadow: 0 0 0 2px var(--color1);
            box-shadow: 0 0 0 2px var(--color1);
          }
        }
        textarea.wpd-field{
          padding: 10px 12px;
        }
        input.wpd-field{
          height: 42px;
        }
        .wpdiscuz-item{
          &.wpd-has-icon{
            .wpd-field-icon{
              display: none;
            }
          }
        }
      }
      .wpd-form-head,
      .wpd-thread-head{
        border-bottom: 2px solid #dff4ff;
      }
      .wpd-form-head{
        display: none!important;
        margin-top: 0;
        .wpd-sbs-toggle{
          display: none!important;
        }
      }
      .wpd-auth .wpd-login a {
        color: #00acff;
        font-weight: 600;
        text-decoration: none;
        transition: all .14s ease-out;
        &:hover {
          opacity: .8;
        }
      }
      .wpd-form .wpd-avatar img,
      .wpd-form .wpd-avatar img.avatar{
        border-color: #dff4ff;
      }
      .wpd-blog-post_author .wpd-comment-label{
        background-color: #00acff;
      }
      .wpd-blog-post_author .wpd-comment-author a{
        color: #00acff;
        pointer-events: none;
      }
      .wpd-comment .wpd-avatar img,
      #wpdcom .wpd-comment .wpd-avatar img.avatar,
      .wpd-comment .wpd-blog-administrator .wpd-avatar img,
      .wpd-comment .wpd-blog-post_author .wpd-avatar img{
        border-color: #d0d0d0!important;
      }
      .wpdiscuz-sort-buttons{
        background-color: #ffffff;
        border: 2px solid #dff4ff;
        border-radius: 4px;
        padding: 10px;
        width: auto;
        top: 40px;
        &:after {
          background-color: #ffffff;
          border-left: 2px solid #dff4ff;
          border-top: 2px solid #dff4ff;
          content: "";
          display: block;
          height: 10px;
          left: 50%;
          margin-left: -10px;
          position: absolute;
          top: 0;
          -webkit-transform: rotate(45deg) translateY(-10px);
          -ms-transform: rotate(45deg) translateY(-10px);
          transform: rotate(45deg) translateY(-10px);
          width: 10px;
        }
        .wpdiscuz-sort-button{
          text-align: left;
          font-size: .9rem;
          line-height: 1.6em;
          padding: 2px 10px;
          white-space: nowrap;
          border-radius: 4px;
          color: #0a335c;
          display: block;
          letter-spacing: 0.04em!important;
          text-decoration: none;
          -webkit-transition: all .14s ease-out;
          -o-transition: all .14s ease-out;
          transition: all .14s ease-out;
          &:hover {
            background-color: #dff4ff;
          }
        }
      }
      .wpd-thread-filter .wpdf-sorting i{
        color: #00acff!important;
      }
      .wpd-thread-filter .wpdf-sorting{
        color: #0a335c;
        border-bottom: 2px solid #00acff;
        font-family: 'Inter', sans-serif;
        transition: all .14s ease-out;
        padding: 7px 10px 5px 10px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        &:hover{
          background-color: #dff4ff;
        }
      }
      
      .wpd-comment .wpd-follow-link{
        display: none;
      }
      .wpd-comment .wpd-reply-to{
        border-left-color: #dff4ff;
      }
      .wpd-form .wpdiscuz-textarea-wrap{
        padding-top: 0;
      }
      .wpd-blog-post_author{
        .wpd-comment-label{
          display: none;
        }
      }
      .wpd-thread-head .wpd-thread-info{
        border-bottom: none!important;
      }
      .wpd-thread-head .wpdiscuz-user-settings{
        display: none!important;
      }
      .wpd-comment-header .wpd-comment-share{
        display: none!important;
      }
      .wpd-thread-head .wpd-thread-filter{
        display: none!important;
      }
      .wpd-tools{
        display: none!important;
      }
    }
  }
  #wpdiscuz-comment-message {
    .wpdiscuz-message-warning,
    .wpdiscuz-message-success,
    .wpdiscuz-message-error {
      padding: 10px 20px 11px 20px;
      border-radius: 8px;
      box-shadow: none;
      background-color: #fff;
      color: #111;
      border: 2px solid #ffbcbc;
    }
    .wpdiscuz-message-error{
      border-color: #ffbcbc;
    }
    .wpdiscuz-message-success{
      border-color: #bcffeb;
    }
    .wpdiscuz-message-warning{
      border-color: #ffe5bc;
    }
  }
  #wpdiscuz-loading-bar{
    background-image: url('../../images/loading.svg');
    background-size: 50px;
    width: 50px;
    height: 50px;
    top: 5px;
  }
}


/* LanguageMenu */
.menu .menu__with-icon{
  > a{
    padding-left: 36px !important;
    position: relative;
  }
  .icon{
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    img{
      width: 100%;
    }
  }
  .sub-menu{
    .lang-item{
      > a{
        display: flex;
        align-items: center;
      }
      span {
        margin-left: 6px!important;
      }
      img{
        max-width: 20px;
      }
    }
  }
}

.block-98723{
  &__title{
    .icon{
      display: inline-block;
      line-height: 0;
      max-width: 28px;
      margin-right: 8px;
      img{
        max-width: 100%;
      }
    }
    > span{
      vertical-align: middle;
    }
  }
  &__list{
    margin-bottom: -5px;
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
    li{
      margin-bottom: 5px;
      position: relative;
      flex: 0 0 25%;
      a{
        border-radius: 4px;
        font-size: .9rem;
        letter-spacing: .02em;
        color: #0a335c;
        text-decoration: none;
        padding: 5px 10px 5px 32px;
        transition: all .34s ease-out;
        &:after{
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background-image: url('../../images/icon-arrow-01.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px 20px;
          position: absolute;
          left: 5px;
          top: 4px;
          transition: all .34s ease-out;
        }
        &:hover{
          background-color: #dff4ff;
        }
      }
    }
  }
}


@media (max-width: 768px){
  .block-98723__list li {
      flex: 0 0 33.33%;
  }
}
@media (max-width: 568px){
  .block-98723__list li {
      flex: 0 0 50%;
  }
}

@media (max-width: 360px){
  .block-98723__list li {
      flex: 0 0 100%;
  }
}


/* Footer */
.footer{
  &__copyright{
    margin-top: 50px;
    font-size: 14px;
    font-weight: 300;
  }
}